body {
    font-family: Arial, sans-serif;
    background-color: #a0e1d4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: rgb(51, 131, 223);
    font-style: italic;
    font-size: 55px;
    border-bottom: 5px;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bmwcard {
    width: 350px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.bmw-img {
    width: 350px;
    height: 220px;
    border-radius: 20px 20px 0 0;
}

.bmwcontent {
    padding: 15px;
    color: #cc0a0ae8;
}

.bmwtitle {
    color: rgba(255, 0, 0, 0.516);
    font-size: 25px;
    margin-bottom: 10px;
}

.bmw-info {
    font-size: 15px;
    color: #22a7a3;
    line-height: 1.4;
    flex-wrap: wrap;
}

.m-perfo{
    color: rgba(203, 9, 9, 0.39);
}